/* ---------------------------------- General */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

main {
    min-height: 360px;
}

* {
    font-family: Menlo, monospace;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

p {
    margin-bottom: 0;
}

ul {
    list-style-type: none;
}
/* Remove styling from buttons in ios */
button {
    -webkit-appearance: none;
    border-radius: 0;
}

.btn-default {
    background-color: #c13e70;
}

code {
    color:#c13e70;
    font-size: 100%;
}

button,
.button {
    font-family: 'Times New Roman', Times, serif;
    background-color: #047afb;
    border: 1px solid #047afb;
    border-radius: 3px;
    color: white;
    margin-bottom: 8px;
    margin-right: 8px;
    line-height: 1;
}

button:hover,
.button:hover {
    color: white;
    background-color: #c13e70;
}

pre {
    background-color: beige;
    width: 100%;
    padding-left: 8px;
}

li > code > p,
li > p {
    margin: 0;
}

a:hover {
    color: #c13e70;
    text-decoration: none;
    font-family: Menlo, sans-serif;
}

blockquote {
    font-size: 0.75rem;
    padding-left: 8px;
    padding-top: 8px;
}

.col-11,
.col-8,
.col-4,
.col-1 {
    padding: 0;
}

.last-page {
    text-align: left;
}

.next-page {
    text-align: right;
}

/* ---------------------------------- Hero banner */
.wrapper {
    overflow: hidden;
}

.sliding-background {
    background: url("../images/javascript-header.jpg") repeat-x;
    height: 250px;;
    width: 5076px;
    animation: slide 60s linear infinite;
}

/*.dom-examples {
    background: url("../images/javascript-header-dom-examples.jpg") repeat-x;
}

.numbers {
    background: url("../images/javascript-header-numbers.jpg") repeat-x;
}

.strings {
    background: url("../images/javascript-header-strings.jpg") repeat-x;
}*/

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}

/* ---------------------------------- Navigation 


.navbar, .form-inline, .dropdown-toggle, .dropdown-submenu, .navbar-brand {
    font-size: 24px;
}

.navbar, .dropdown-menu, .dropdown-submenu {
    background-color: #c13e70;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
    color: #047afb;
}

/*.menu-list {
    font-size: 24px;
    color: black;
}

.dropdown-menu {
    padding: 0 12px 12px 12px;
    margin: 0;
    border: 0;
    width: max-content;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-submenu > ul > li > a:hover {
    color: black;
    text-decoration: none;
    font-family: Menlo, sans-serif;
}

li > a:hover {
    color: white;
    text-decoration: none;
    font-family: Menlo, sans-serif;
}

.dropdown-submenu > ul > li > a {
    color:white;
}
li > a {
    color: black;
}*/

/* ---------------------------------- Body */
.body-container {
    width: 70%;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.tab {
    margin-left: 30px;
    margin-bottom: 8px;
}

.double-tab {
    margin-left: 60px;
    margin-bottom: 8px;
}

.triple-tab {
    margin-left: 90px;
    margin-bottom: 8px;
}

.quad-tab {
    margin-left: 120px;
    margin-bottom: 8px;
}

.indented-list {
    list-style-type: lower-latin;
}

.codepen-box {
    margin-bottom: 16px;
}

.container-table {
    overflow: auto;
}

.data-types {
    color:#047afb;
}

.data-types:hover {
    color:#c13e70;
}

/* ---------------------------------- Body Code Examples */

.color-text {
    margin-bottom: 0;
}

#blue {
    color:#047afb;
}

#var7, #var8 {
    color: #c13e70;
}

/* ---------------------------------- Numbers/Math */

.operators {
    background-color: rgba(193, 62, 112, 0.5);
    border: 1px solid black;
    width: 50%;
    height: auto;
}

/* ---------------------------------- ClassListCSS Styling */

.img {
    text-align: center;
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}


.pre-light {
    background-color: beige;
    width: 100%;
    padding-left: 8px;
}

.pre-dark {
    background-color: #0A0A24;
    color: #DEDAA0;
    width: 100%;
    padding-left: 8px;
}

/* ---------------------------------- Footer */

footer {
    width: 100%;
    bottom: 0;
}

.footer-section {
    background-color: #c13e70;
    height: auto;
    color: white;
    text-decoration: none;
    bottom: 0;
}

.links-and-outside-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-between;
    padding-bottom: 16px;
    padding-left: 0px;
    padding-right: 0px;
}

.foot-body {
    padding: 8px;
    width: 70%;
    margin: auto;
    text-align: center;
}

.website-links,
.outside-links {
    /*background-color: #047afb;*/
    width: 49%;
    display: inline-block;
    text-align: left;
}

.footer-menu {
    list-style-type: none;
    padding-left: 0;
}

.footer-menu-list {
    font-size: 1rem;
    color: white;
}
.footer-menu-link>a:hover,
.footer-menu-link>a:active,
.footer-menu-link>a:focus,
.footer-menu-link>a:focus-within,
.footer-menu-link>a:focus-visible {
    font-size: 1rem;
    color: black;
}

/* ---------------------------------- Responsiveness */
@media screen and (max-width:650px) {
    
    .body-container,
    .foot-body {
        width:95%;
        padding: 0;
    }

    .links-and-outside-links {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: space-between;
    }

    .website-links,
    .outside-links {
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
}

@media all and (min-width: 992px) {
    /*.navbar-expand-lg .navbar-nav .dropdown-menu {
        position: static;
    }*/

   .list-unstyled >li {
        padding-left: 24px;
    }

    .dropdown-menu {
        border-radius: 0;
    }
        
    .navbar { 
        padding-top: 0; 
        padding-bottom: 0; 
    }

    .navbar .has-megamenu {
        position:static!important;
    }

    .navbar .megamenu {
        left:0; 
        right:0; 
        width:100%; 
        padding:20px;
    }
    .navbar .nav-link {
        padding-top:1rem; padding-bottom:1rem;
        }
}

/* ---------------------------------- jQuery start */

.blueBackground {
    background-color: #047afb;
}

.pinkBackground {
    background-color: #c13e70;
}

.pinkBorder {
    border: solid 1px #c13e70;
}

.blue {
    color: #047afb;
}

.pink {
    color: #c13e70;
}

.white {
    color: white;
}

.purple {
    color: purple;
}

.div-background-blue {
    background-color: rgba(3, 121, 251, 1);
    border: solid 3px rgba(192, 62, 112, 1);
    height: 30px;
    text-align: center;
    color:white;
}

.div-background-pink {
    background-color: rgba(192, 62, 112, 1);
    border: solid 3px rgba(3, 121, 251, 1);
    height: 30px;
    text-align: center;
    color: white;
}

#mouse-on-me {
    font-size:30px;
}

/* ------------------------------------------------------------------------------------------------------jQuery this */
.container-this {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin-right: auto; 
    margin-left: auto;
}

.card {
    flex: 1;
    display: flex;
    flex-flow: column;
    max-width: 50%;
    margin: 10px;
    padding:20px;   
    background-color: #fff;
}

.container-box {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin-right: auto; 
    margin-left: auto;
}

.box {
    flex: 1;
    display: flex;
    flex-flow: column;
    border: solid 1px rgba(3, 121, 251, 1);
    max-width: 240px;
    margin: 10px;
    padding:20px;   
    background-color: rgba(3, 121, 251, 1);
    text-align: center;;
}

.container-box1 {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin-right: auto; 
    margin-left: auto;
}

.box1 {
    flex: 1;
    display: flex;
    flex-flow: column;
    border: solid 1px /*#0379fb*/ rgb(3,121,251);
    max-width: 240px;
    margin: 10px;
    padding:20px;   
    background-color: /*rgb(255, 0, 0)*/ rgb(3, 121, 251);
    text-align: center;
    color: white;
}
/*------------------------------------------------------------------------------------- boxes change div color */
#full-box {
    border: solid 1px black;
    max-width: 100%;
    margin-bottom: 8px;
    padding:20px;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0 auto;
    text-align: center;
}

.new-box {
    margin: 0 auto;
    padding:20px;
    text-align: center;
}

.new-box1 {
    background-color: #c13e70;
    color: white;
}

.new-box2 {
    background-color: #047afb;
    color: white;
}

.new-box3 {
    background-color: purple;
    color: white;
}

.new-box4 {
    background-color: yellow;
    color: black;
}

.new-box5 {
    background-color: brown;
    color: white;
}

.new-box6 {
    background-color: green;
    color: white;
}

/*------------------------------------------------------------------------------------- explain XHR code in depth */
/* from https://stackoverflow.com/questions/1328723/how-to-generate-a-simple-popup-using-jquery */
.popup {
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    width:100%;
    height:100%;
    display:none;
    overflow: auto;
}
 
/* Popup inner div */
.popup-content {
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0px 2px 6px rgba(0,0,0,1);
    border-radius: 3px;
    background: #fff;
    position: relative;
}

.ul-margin {
    padding: 0;
}
 
/* Popup close button */
.close-button {
    width: 35px;
    height: 35px;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 20px;
    /*background: rgba(0,0,0,1);*/
    background: rgba(0,0,0,0.8);
    font-size: 24px;
    text-align: center;
    color: #047afb;
    text-decoration:none;
}
 
@media screen and (max-width: 720px) {
.popup-content {
    width:90%;
    } 
}

/*------------------------------------------------------------------------------------- new nav bar */
.new-nav {
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    background-color: #c13e70;
    padding-left: 0;
    padding-right: 0;
}

.new-nav-blue {
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    background-color: #047afb;
    padding-left: 0;
    padding-right: 0;
}

.full-row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.title,
.menu {
    vertical-align: middle;
}

.title-text,
.menu-text {
    margin: 8px;
    vertical-align: middle;
}

.title-link {
    color: white;
}

.title {
    flex: 1;
    display: flex;
    flex-flow: row;
    color:white;
}

.fontawesome-icon {
    font-size: 34px;
    color: black;
    margin: 0 8px 0;
    position: absolute;
    right: 0;
}

.menu-text {
    color:black;
}

.menu-dropdown {
    width: 100%;
}

.menu-dropdown-blue {
    width: 100%;
    background-color: #047afb;
}

.menu-list,
.menu-list-with-dropdown {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.menu-text-white {
    color:white;
}

.new-dropdown-menu {
    display: none;
    background-color: #c13e70;
    position: static;
    padding-left: 24px;
    font-size: 24px;
}

.new-dropdown-menu-purple {
    display: none;
    background-color: purple;
    position: static;
    padding-left: 24px;
    font-size: 24px;
}

.new-dropdown-menu-blue {
    background-color: #047afb;
}

.new-dropdown-menu>p {
    color: black;
}

.new-dropdown-submenu  {
    display: none;
    background-color: #c13e70;
    position: static;
    padding-left: 32px;
    font-size: 18px;
}

.new-dropdown-submenu-blue {
    background-color: #047afb;
}

.sub-menu-link {
    color: black;
    display: block;
}

.yellow-text {
    color: yellow;
}

@media all and (min-width: 992px) {
    .fontawesome-icon {
        display: none;
    }
}

@media all and (max-width: 991px) {
    .menu-text {
        display: none;
    }
}

.arrays-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 0;
    margin: 0 auto;

}

.item {
    width: 48%;
    margin: 5px;
    flex: none;
}
    